<div class="feature-text">
<h2>The template for everyone. Now with more features, styles, and color schemes.</h2>

<h5>Check out all the features offered in this online Live Preview!</h5>

<div class="divider-large">&nbsp;</div>
</div>

<div class="float-container">
<div class="grid3column">
<div><a class="fancylightbox0" href="?address=4&amp;page=5" title="Title can be filled in or removed easily"><img alt="Easy to use" class="transparent" src="images/homeimage1.jpg" style="height:122px; opacity:1; width:292px" /></a></div>

<h3>Проектное управление</h3>

<p style="text-align:justify">Процесс разработки компании VironIT, с учетом развития современных технологий, направлен на максимальное удовлетворение требований и пожеланий заказчика, выбор оптимальных решений качественного оказания услуг, а также минимизацию материальных и временных ресурсов.</p>
<a class="button" href="#">Read more &rsaquo;</a></div>

<div class="grid3column">
<div><a class="fancylightbox" href="images/portfolio/portfolio13.jpg" title="Title can be filled in or removed easily"><img alt="jQuery Improved" class="transparent" src="images/homeimage2.jpg" style="height:122px; opacity:1; width:292px" /></a></div>

<h3>Технологии</h3>

<p style="text-align:justify">This template uses jQuery to power many functions like the large featured slider and drop-down menus. Further functions have been added such as opacity changes and a lightbox viewer. jQuery can easily be expanded as well!&nbsp;jQuery can easily be expanded as well!be expanded as well!</p>
<a class="button" href="#">Read more &rsaquo;</a></div>

<div class="grid3column lastcolumn">
<div><a class="videolightbox" href="http://www.youtube.com/embed/wTvtheJkthc?rel=0&amp;hd=1" title="Title can be filled in or removed easily"><img alt="Detailed Help File" class="transparent" src="images/homeimage3.jpg" style="height:122px; opacity:1; width:292px" /></a></div>

<h3>Модели сотрудничества</h3>

<p style="text-align:justify">Компания VironIT предлагает широкий выбор моделей сотрудничества в зависимости от сложности проекта, сроков разработки и требований заказчика: &laquo;Выделенная команда&raquo; (Dedicated team); &laquo;Время и ресурсы&raquo; (Time and Material); &laquo;Фиксированная стоимость&raquo; (Fixed priсe).</p>
<a class="button" href="#">Read more &rsaquo;</a></div>
</div>

<div class="divider-large">&nbsp;</div>

<div class="float-container">
<div class="grid3columnbigcolumn">
<h3>О компании VironIT</h3>

<p style="text-align:justify">VironIT &ndash; международная IT-компания, оказывающая комплексные профессиональные услуги по разработке программных продуктов (мобильных, веб-ориентированных приложений, программных бизнес решений); услуги по интеграции и модернизации программного обеспечения, сопровождению и поддержке разработанных приложений.&nbsp;</p>

<p style="text-align:justify">Основанная в 2004 году, компания VironIT не только укрепила свои позиции на рынке IT- услуг, но и осваивает&nbsp; современные направления информационных технологий.&nbsp;</p>

<p style="text-align:justify">Деятельность компании VironIT направлена на разработку качественного продукта, а также удовлетворение требований и пожеланий заказчика с учетом современных технологий.</p>
</div>

<div class="grid3column lastcolumn">
<h3>Принципы работы компании:</h3>

<ul>
	<li>Ответственность</li>
	<li>Профессионализм</li>
	<li>Эффективность</li>
	<li>Открытое сотрудничество</li>
</ul>
<a class="button" href="#">Hire us &rsaquo;</a></div>
</div>

<div class="feature-box">
<div class="left-feature-box">
<h2>Мы проводим бесплатную оценку проектов!</h2>

<h5>Для отправки запроса необходимо заполнить контактную форму и наш специалист свяжется с вами в чечение 1 рабочего дня</h5>
</div>

<div class="right-feature-box"><a class="colored-button" href="#">Отправить запрос &rsaquo;</a></div>
</div>


